* {
    padding: 0;
    margin: 0;
}


#container {
    background-color: white;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.caixa {
    width: 140px;
    height: 140px;
    background-color: blueviolet;
    border: solid 6px black;
}


@media (min-width: 768px) {
    .caixa {
        width: 80px;
        height: 80px;
    }

}